@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/Calendas-Plus-Regular/Desktop/Calendas_Plus.otf');
  src: url('/fonts/Calendas-Plus-Regular/Webfont/Calendas-Plus-Regular-Webfont/calendas_plus-webfont.ttf');
  font-weight: 400;
  font-style: normal;
}


$theme-colors: (
        "primary": green,
);

$dark-green: #466803;
$super-dark-green: #0F3325;
$maincolor: whitesmoke;
$shadow-color: lightgray;
$box-shadow: 5px 5px 5px 5px lightgray;
$box-shadow-hover: 10px 5px 5px 5px lightgray;


@mixin parallax-background($file) {
  background: url($file) no-repeat center center fixed;
  @include background-size(cover);
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}


$parallax-height: 100vh;
$center-margin: 0px auto;

$parallax-height: 100vh;
$center-margin: 0px auto;
$theme: #2e3738;


/* overall changes */


body {
  font-family: 'OpenSans', Calendas-Plus;
  background-color: $maincolor;
  text-align: center;
  color: $dark-green;
}

a, Link {
  text-decoration: none;
  color: $dark-green;
  transition-property: background-color;
  transition-duration: 0.5s;
}

a:hover {
  color: $super-dark-green;
  font-size: 105%;
}

.btn {
  background-color: $maincolor;
  color: $dark-green;
  border: $super-dark-green solid 0.5px;
  transition: background-color 1s linear;
  margin: 2%;
}

.btn:hover, .button:hover {
  color: $maincolor;
  background-color: $dark-green;
}


:focus {
  outline: none;
}

input, select {
  color: $super-dark-green;
  padding: 2%;
  border-radius: 7px 7px 0 0;
}

select {
  min-width: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.pos-relative {
  position: relative;
}

.effect-green {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.effect-green ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}

.effect-green:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}


.center-element {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.center-element p {
  max-width: 50%;
}

.space-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 1%;
}

textarea, button, img {
  border-radius: 7px;
}

/* Navigation */
.navigation {
  position: fixed;
  z-index: 5;
  right: -12%;
  width: 15%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5%;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  font-size: 110%;
  background-color: $maincolor;
  transition: right 0.5s linear;
  padding: 1%;
  margin-top: -5%;
}

.navigation-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navigation:hover {
  right: 0;
}

.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #0F3325;
  border-right: 2px solid #0F3325;
  transform: rotate(-135deg);
  margin: 2%;
}

.herb-img, .vegetation-img {
  max-height: 200px;
}

/* Home */


#first {
  @include parallax-background("../public/images/Clement-landscape-1.jpg");
}

#second {
  @include parallax-background("../public/images/Clement-landscape-2.jpg");
}

#first, #second {
  width: 100%;
  height: 600px;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateZ(-1px);
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-size: 9vw;
    color: $maincolor;
    opacity: 0.5;
  }

  h2 {
    padding: 5%;
  }

  img {
    opacity: 0.5;
    width: auto;
  }

  img:hover {
    opacity: 0.6;
    width: auto;
  }

  div {
    position: absolute;
    bottom: 0;
    right: 0;
    color: $maincolor;
    padding: 1%;

    a {
      text-decoration: none;
      color: $maincolor;
    }
  }

}


.home-page-decription {
  padding: 10%;

}

.home-page-navigation {
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  div {
    width: 150px;
    border: $box-shadow;
    scrollBehavior: smooth;
  }
}

#herbs-by-name {
  padding: 5%;
}

.herb-card {
  width: 200px;
  height: 250px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  box-shadow: $box-shadow;
  margin: 2%;
  transition: transform 1s ease;
  border-radius: 7px;

  img {
    max-height: 120px;
  }
}

.herb-card:hover, .symptom-card:hover {
  box-shadow: $box-shadow-hover;
  transform: scale(1.1);
}


/* Articles $ Workshops */

.workshop-card, .article-card {
  max-width: 80%;
  display: grid;
  align-items: center;
  grid-template-columns: 50% auto;
  grid-gap: 5%;
  margin: 10%;
  border-radius: 7px;
}

.long-description-article {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: $maincolor;
}

.add-workshop {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.form-workshop {
  background-color: $maincolor;
  border: none;
}

/* HerbsBySymptom */


.symptom-box, .contact-box, .workshop-box, .article-box, .herb-name-box {
  display: flex;
  background-color: lightgray;
  padding: 5%;
  margin: 5%;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;

  div {
    max-width: 30%;
  }
}

.symptom-box p, .workshop-box p, .article-box p {
  width: 40%
}

.symptom-box div, .workshop-box div, .article-box {
  width: 50%;
}

.symptom-card {
  width: 200px;
  display: grid;
  align-items: center;
  box-shadow: $box-shadow;
  border: 0.5px lightgray solid;
  padding: 5%;
  transition: transform 1s ease;
  border-radius: 7px;

  div:first-child {
    border-bottom: 1px solid lightgray;
  }
}

.activated {
  box-shadow: $box-shadow-hover;
  color: darkkhaki;
}

/* Contact */

.contact-box {
  form {
    width: 200%;
  }

  p {
    width: 60%
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  margin: 2%;
  text-align: start;
}

.formRow {
  display: grid;
  div {
width: 100%;
  }
}


/* other */

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}

@media only screen and (max-width: 700px) {

  .symptom-box, .contact-box, .workshop-box, .article-box, .herb-name-box {
    flex-direction: column;
  }
  .symptom-box p, .workshop-box p, .article-box p {
    width: 90%
  }
  .symptom-box img, .workshop-box img, .article-box input {
    width: 90%;
  }
  .center-element p {
    max-width: 100%;
  }

  .workshop-card, .article-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigation {
    right: -50%;
    width: 55%;
    grid-template-columns: 1fr 2fr;
  }
}

@media print {
  a[href^="http"]:after {
    content: " (" attr(href) ")";
  }
}


