$theme-colors: (
        "primary": green,
);

$dark-green: #466803;
$super-dark-green: #0F3325;
$maincolor: white;
$shadow-color: lightgray;

@mixin parallax-background($file) {
  background: url($file) no-repeat center center fixed;
  @include background-size(cover);
}

@mixin background-size($size){
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}


$parallax-height: 100vh;
$center-margin: 0px auto;

$parallax-height: 100vh;
$center-margin: 0px auto;
$theme: #2e3738;


#first {
  @include parallax-background("../public/images/Clement-landscape-1.jpg");
}

#second {
  @include parallax-background("../public/images/Clement-landscape-1.jpg");
}

#first, #second {
  width: 100%;
  height: 600px;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateZ(-1px);
  h1{
    text-transform: uppercase;
    font-family: 'Bitter', serif;
    letter-spacing: 0.06em;
    font-size: 120px;
    color: $theme;
    opacity: 0.7;
    text-align: center;
  }
  h5 {
    padding: 5%;
  }
}

/* overall changes */


body {
  font-family: 'Questrial', sans-serif;
  background-color: $maincolor;
  text-align: center;
  color: $dark-green;
  padding-right: 6%;
}

a, Link {
  text-decoration: none;
  color: $dark-green;
  transition-property: background-color;
  transition-duration: 0.5s;
}

a:hover {
  color: $super-dark-green;
  font-size: 105%;
}

.btn {
  background-color: $maincolor;
  color: $dark-green;
  border: $super-dark-green solid 0.5px;
  transition: background-color 1s linear ;
  margin: 2%;
}

.btn:hover, .button:hover {
  color: $maincolor;
  background-color: $dark-green;
}


.center-element {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.center-element p {
  max-width: 50%;
}

.space-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 1%;
}

input, textarea, button, img {
  border-radius: 7px;
}

/* Navigation */
.navigation {
  position: fixed;
  z-index: 5;
  right: -12%;
  width: 15%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5%;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  font-size: 110%;
  background-color: $maincolor;
  transition: right 0.5s linear;
  padding: 1%;
  margin-top: -5%;
}

.navigation-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navigation:hover {
  right:0;
}

.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #0F3325;
  border-right: 2px solid #0F3325;
  transform: rotate(-135deg);
  margin: 2%;
}

.herb-img, .vegetation-img {
  max-height: 200px;
}

/* Articles $ Workshops */

.workshop-card, .article-card {
  max-width: 80%;
  display: grid;
  align-items: center;
  grid-template-columns: 50% auto;
  grid-gap: 5%;
  margin: 10%;
  border-radius: 7px;
}

.long-description-article {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: $maincolor;
}

.add-workshop {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}
.form-workshop {
  background-color: $maincolor;
  border: none;
}

/* HerbsByName */

.background-img {
  background-image: url("../public/images/Clement-landscape-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}


.homePageDecription {
  padding: 10%;
}

.herb-card {
  width: 200px;
  height: 250px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  box-shadow: 5px 5px 5px 5px lightgray;
  margin: 5%;
  transition: transform 1s ease;
  border-radius: 7px;
}

.herb-card img {
  max-height: 120px;
}

.herb-card:hover, .symptom-card:hover {
  box-shadow: 10px 5px 5px 5px lightgray;
  transform: scale(1.1);
}


/* HerbsBySymptom */


.symptom-box, .contact-box, .workshop-box, .article-box, .herb-name-box {
  display: flex;
  background-color: lightgray;
  padding: 5%;
  margin: 5%;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
}

.herb-name-box div {
    max-width: 30%;
}

.symptom-box p, .workshop-box p, .article-box p {
  width: 40%
}

.symptom-box div, .workshop-box div, .article-box input {
  width: 50%;
}

.symptom-card {
  width: 200px;
  display: grid;
  align-items: center;
  box-shadow: 5px 5px 5px 5px lightgray;
  border: 0.5px lightgray solid;
  padding: 5%;
  transition: transform 1s ease;
  border-radius: 7px;
}

.symptom-card div:first-child{
  border-bottom:  1px solid lightgray;
}

.activated {
  box-shadow: 10px 5px 10px 10px darkgray;
  color: darkkhaki;
}

/* Contact */

.contact-box form {
  width: 200%;
}

.contact-box p{
  width: 60%
}

.contactForm {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 2%;
  text-align: start;
}

.formRow {
  display: grid;
}


/* other */

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}

@media only screen and (max-width: 700px){
  .symptom-box, .contact-box, .workshop-box, .article-box, .herb-name-box {
    flex-direction: column;
  }
  .symptom-box p, .workshop-box p, .article-box p {
    width: 90%
  }
  .symptom-box img, .workshop-box img, .article-box input {
    width: 90%;
  }
  .center-element p {
    max-width: 100%;
  }

  .workshop-card, .article-card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigation {
    right: -50%;
    width: 55%;
    grid-template-columns: 1fr 2fr;
  }
}

@media print {
  a[href^="http"]:after {
    content: " (" attr(href) ")";
  }
}