
$light-green: #5ca904;
$dark-green: #466803;
$super-dark-green: #0F3325;
$maincolor: whitesmoke;
$shadow-color: lightgray;
$box-shadow: 5px 5px 5px 5px lightgray;
$box-shadow-hover: 10px 5px 5px 5px lightgray;


@mixin parallax-background($file) {
  background: url($file) no-repeat center center fixed;
  @include background-size(cover);
}

@mixin background-size($size) {
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
  background-size: $size;
}


$parallax-height: 100vh;
$center-margin: 0px auto;

$parallax-height: 100vh;
$center-margin: 0px auto;
$theme: #2e3738;


/* overall changes */


body {
  font-family: 'Comfortaa', cursive;
  background-color: $maincolor;
  text-align: center;
  color: $dark-green;
}

a, Link {
  text-decoration: none;
  color: $dark-green;
  transition-property: background-color;
  transition-duration: 0.5s;
}

a:hover {
  color: $super-dark-green;
  font-size: 105%;
}

.btn, button {
  background-color: $maincolor;
  color: $dark-green;
  border: $super-dark-green solid 0.5px;
  transition: background-color 1s linear;
  margin-top: 5%;
}

.btn:hover, button:hover {
  color: $maincolor;
  background-color: $dark-green;
}


:focus {
  outline: none;
}

input, select, textarea {
  color: $super-dark-green;
  padding: 2%;
}

select {
  min-width: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.pos-relative {
  position: relative;
  display: grid;
  align-content: start;
}

.effect-green {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.effect-green ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: $light-green;
  transition: 0.4s;
}

.effect-green:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
}


.center-element {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.center-element p {
  max-width: 50%;
}

.space-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 1%;
}

img {
  border-radius: 7px;
}

.credits {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
  padding-right: 5%;
  font-size: 0.7vw;
  a {
    text-decoration: none;
    color: $maincolor;
  }
}

::placeholder, label {
  padding: 5px;
}

/* Navigation */
.navigation {
  position: fixed;
  z-index: 5;
  right: -12%;
  width: 15%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5%;
  justify-content: space-around;
  height: 110%;
  align-items: center;
  font-size: 110%;
  background-color: $maincolor;
  transition: right 0.5s linear;
  padding: 1%;
  margin-top: -5%;
}

.navigation-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navigation:hover {
  right: 0;
}

.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #0F3325;
  border-right: 2px solid #0F3325;
  transform: rotate(-135deg);
  margin: 2%;
}

.herb-img, .vegetation-img {
  max-height: 200px;
}

/* Home */


#first {
  @include parallax-background("../public/images/Clement-landscape-1.jpg");
  p {
    font-size: 6vw;
  }
}

#second {
  @include parallax-background("../public/images/Clement-landscape-2.jpg");
}

#third {
  @include parallax-background("../public/images/Matt-Hardy.jpg");
}

#fourth {
  @include parallax-background("../public/images/Matt-Hardy-2.jpg");
}

#first, #second, #third, #fourth {
  width: 100%;
  height: 500px;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateZ(-1px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: $maincolor;

  img {
    opacity: 0.5;
    width: auto;
  }

  img:hover {
    opacity: 0.6;
    width: auto;
  }

  div {
    position: absolute;
    bottom: 0;
    right: 0;
    color: $maincolor;
    padding: 1%;
  }

}


.home-page-decription {
  padding: 10%;

}

.home-page-navigation {
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  div {
    width: 150px;
    border: $box-shadow;
    scrollBehavior: smooth;
  }
}

#herbs-by-name {
  padding: 5%;
}

.herb-card {
  width: 200px;
  height: 250px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  box-shadow: $box-shadow;
  margin: 2%;
  transition: transform 1s ease;
  border-radius: 7px;

  img {
    max-height: 120px;
  }
}

.herb-card:hover, .symptom-card:hover {
  box-shadow: $box-shadow-hover;
  transform: scale(1.1);
}

.symptom-box, .workshop-box, .article-box, .herb-name-box {
  display: flex;
  background-color: $shadow-color;
  padding: 2%;
  margin: 5%;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
  div {
    max-width: 50%;
  }
}

.symptom-box p, .workshop-box p, .article-box p {
  width: 40%
}

.symptom-box div, .workshop-box div, .article-box {
  width: 50%;
}

/* Articles & Workshops */

.workshop-background {
  @include parallax-background("../public/images/Clement-landscape-3.jpeg");
  height: 100%;
  padding: 15%;
  justify-content: center;
}

.article-background {
  @include parallax-background("../public/images/Pixabay.jpg");
  height: 100%;
  padding: 15%;
  display: grid;
  justify-content: end;
}



.workshop-card, .article-card {
  display: flex;
  background-color: $shadow-color;
  padding: 5%;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
  margin: 5%;
  div {
    max-width: 50%;
    margin: 2%;
  }

}

.long-description-article {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: $maincolor;
}

.add-workshop {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.form-workshop {
  background-color: $maincolor;
  border: none;
}

/* HerbsBySymptom */


.symptom-card {
  width: 200px;
  display: grid;
  align-items: center;
  box-shadow: $box-shadow;
  border: 0.5px lightgray solid;
  padding: 5%;
  transition: transform 1s ease;
  border-radius: 7px;

  div:first-child {
    border-bottom: 1px solid lightgray;
  }
}

.activated {
  box-shadow: $box-shadow-hover;
  color: darkkhaki;
}



/* Contact */

.contact-background {
  @include parallax-background("../public/images/Mads-Thomsen.jpg");
  height: 100%;
  display: flex;
  background-color: lightgray;
  padding: 15%;
  justify-content: center;
}


.contact-box {
  border-radius: 7px;
  display: flex;
  background-color: lightgray;
  padding: 5%;
  justify-content: space-around;
  div {
    width: 50%;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;

  div input, textarea, span, button {
    width: 300px;
  }

}

.section {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.section > * {
  padding: 1em;
}



/* animations & other */

.image-wrapper {
  width: 400px;
  height: 250px;
  position: relative;
  margin: 30vh auto;
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  max-width: 400px;

}

.image-1 {

  clip-path: polygon(0 0, 0 32%, 28% 0);
  transform: translate(-10px, -10px);
  transition: transform 300ms ease;
  transform-origin: top;
  .image-wrapper:hover & {
    transform: translate(0,0);
  }
}

.image-2 {
  clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
  transform: translate(-30px, 5px);
  transition: transform 300ms ease;
  .image-wrapper:hover & {
    transform: translate(0,0);
  }
}

.image-3 {
  clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
  transform: translate(-15px, -10px);
  transition: transform 300ms ease;
  .image-wrapper:hover & {
    transform: translate(0,0);
  }
}

.image-4 {
  clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
  transform: translate(-32px, 5px);
  transition: transform 300ms ease;
  transform-origin: top;
  .image-wrapper:hover & {
    transform: translate(0,0);
  }
}

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}

@media only screen and (max-width: 700px) {

  .symptom-box, .contact-box, .workshop-box, .article-box, .herb-name-box {
    flex-direction: column;
    width: 100%
  }


  .workshop-card, .article-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navigation {
    right: -50%;
    width: 55%;
    grid-template-columns: 1fr 2fr;
  }
}

@media print {
  a[href^="http"]:after {
    content: " (" attr(href) ")";
  }
}


